@import url('https://fonts.googleapis.com/css?family=Open+Sans');
H4{
  font-size: 7em;
  font-family: 'Open Sans';
  color: #fff;
  font-weight: normal;
}

.modalWrap{
  display: flex;
  justify-content: center;
  margin: 40px auto;
  font-family: 'Open Sans';
}
